language: ruby
cache: bundler
sudo: false
matrix:
  fast_finish: true
  include:
    - rvm: 2.1
    - rvm: 2.2
    - rvm: 2.3.0
    - rvm: 2.3.1
    - rvm: 2.4.0
    - rvm: jruby-head
  allow_failures:
    - rvm: jruby-head
    - rvm: 2.4.0
notifications:
  email: false
